.babigo-button{

    border:none;

    cursor:pointer;

    display:inline-flex;

    align-items:center;

    justify-content:center;

    gap:10px;

    font-weight:600;

    transition:.25s;

    border-radius:10px;

    font-size:14px;

}

.babigo-button:hover{

    transform:translateY(-1px);

}

.babigo-button:disabled{

    opacity:.6;

    cursor:not-allowed;

}

/* =======================
   VARIANTS
======================= */

.babigo-button-primary{

    background:#2563EB;

    color:white;

}

.babigo-button-primary:hover{

    background:#1D4ED8;

}

.babigo-button-secondary{

    background:#F1F5F9;

    color:#0F172A;

}

.babigo-button-outline{

    background:white;

    border:1px solid #CBD5E1;

}

.babigo-button-danger{

    background:#EF4444;

    color:white;

}

.babigo-button-success{

    background:#10B981;

    color:white;

}

/* =======================
   SIZE
======================= */

.babigo-button-sm{

    padding:8px 14px;

}

.babigo-button-md{

    padding:12px 18px;

}

.babigo-button-lg{

    padding:15px 22px;

}

/* =======================
   LOADER
======================= */

.babigo-button-spinner{

    width:18px;

    height:18px;

    border:3px solid rgba(255,255,255,.4);

    border-top:3px solid white;

    border-radius:50%;

    animation:spin .8s linear infinite;

}

@keyframes spin{

    from{

        transform:rotate(0);

    }

    to{

        transform:rotate(360deg);

    }

}